/*
Theme Name: Ten-321 Framework
Theme URI: http://framework.ten-321.com/
Description: A very basic framework for use in Ten-321 Enterprises WordPress projects.
Author: Ten-321 Enterprises
Author URI: http://ten-321.com/
Version: 1.1
Tags: two-columns, three-columns, fixed-width, widgets, framework
*/

/* =Reset Info
-------------------------------------------------------------- */
html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	width: 100% !important;
	width: 960px;
	min-width: 960px;
	min-height: 100%;
	font-size: .75em;
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	color: #000;
	background: #fff;
}

body * {
	margin-bottom: 1em;
}

b, 
strong {
	font-weight: bolder;
}

i, 
em {
	font-style: italic;
}

s,
del,
mark {
	text-decoration: line-through;
}

blockquote {
	margin: .5em;
	padding: .5em;
	background: #e2e2e2;
	border: 1px solid #666;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
    display:block;
}

br {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.clear {
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	clear: both;
	float: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: bolder;
}

h1 { 
	font-size: 2em; 
}
h2 { 
	font-size: 1.8em;
}
h3 { 
	font-size: 1.6em;
}
h4 { 
	font-size: 1.4em;
}
h5 { 
	font-size: 1.25em;
}
h6 { 
	font-size: 1.1em;
}

a:hover {
	text-decoration: none;
}

/* =General table styles
-------------------------------------------------------------- */
table thead,
table tfoot {
	font-weight: bolder;
}

table th {
	font-weight: bolder;
}

table tr {
	vertical-align: top;
}

/* =Container styles
-------------------------------------------------------------- */
.above-header, 
body > header, 
.header-nav, 
.header, 
.below-header, 
.primary-nav, 
.container, 
.footer-nav, 
.above-footer, 
body > footer, 
.below-footer {
	width: 100%;
	margin: 0;
	clear: both;
}

.above-header .widget-area, 
.header-nav .menu, 
body > header hgroup, 
.below-header .widget-area, 
.primary-nav .menu, 
.container .main, 
.footer-nav .menu, 
.above-footer .widget-area, 
body > footer details, 
.below-footer .widget-area {
	width: 960px;
	display: block;
	margin: 0 auto;
}

.widget-area h2 {
	font-size: 1.2em;
	margin-bottom: .5em;
}

.container {
	padding-top: 16px;
}

/* =Above header sidebar
-------------------------------------------------------------- */
.sidebar.above-header li.widget {
	width: 100%;
	clear: both;
}

/* =Header nav styles
-------------------------------------------------------------- */
.header-nav .menu-item {
	display: inline;
}

.header-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: right;
	border-right: 1px solid #666;
}

.header-nav .menu-item:first-child a {
	border: none;
}

/* =Primary nav styles
-------------------------------------------------------------- */
.primary-nav .menu-item {
	display: inline;
}

.primary-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: left;
	border-left: 1px solid #666;
}

.primary-nav .menu-item:first-child a {
	border: none;
	padding-left: 0;
}

/* =Primary nav styles
-------------------------------------------------------------- */
.secondary-nav .menu-item {
	display: inline;
}

.secondary-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: left;
	border-left: 1px solid #666;
}

.secondary-nav .menu-item:first-child a {
	border: none;
	padding-left: 0;
}

/* =Main content area
-------------------------------------------------------------- */
.container .main {
	padding: 0;
}

.has-sidebar-primary .main, 
.has-nav-sidebar .main, 
.has-nav-side-second .main {
	width: 720px;
	padding-left: 240px; /* LC Width */
	padding-right: 0;
}

.has-sidebar-secondary .main {
	width: 760px;
	padding-right: 200px; /* RC Width */
	padding-left: 0;
}

.has-sidebar-primary.has-sidebar-secondary .main, 
.has-nav-sidebar.has-sidebar-secondary .main, 
.has-nav-side-second.has-sidebar-secondary .main {
	width: 520px;
	padding-left: 240px; /* LC Width */
	padding-right: 200px; /* RC Width */
}

.main .column {
	position: relative;
	float: left;
}

.content {
	width: 100%;
}

.content li {
	display: list-item;
}

.content ul, .content ol {
	margin-left: 1.5em;
	padding-left: 1em;
}

.content ul > li {
	list-style: disc;
}

.content ul > li ul > li {
	list-style: circle;
}

.content ul > li ul > li ul > li {
	list-style: square;
}

.content ol > li {
	list-style: decimal;
}

/* =Primary sidebar
-------------------------------------------------------------- */
.primary-sidebar {
	width: 224px;
	padding-right: 16px;
	right: 240px;
	margin-left: -100%;
}

/* =Secondary sidebar
-------------------------------------------------------------- */
.secondary-sidebar {
	width: 184px;
	margin-right: -200px;
	padding-left: 16px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.widgettitle a.rsswidget>img {
	float: right;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}