/**
 * Ten-321 Responsive Stylesheet
 */

/* =Reset Info
-------------------------------------------------------------- */
html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	width: 100% !important;
	width: 960px;
	min-height: 100%;
	font-size: .75em;
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	color: #000;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

body * {
	margin-bottom: 1em;
}

b, 
strong {
	font-weight: bolder;
}

i, 
em {
	font-style: italic;
}

s,
del,
mark {
	text-decoration: line-through;
}

blockquote {
	margin: .5em;
	padding: .5em;
	background: #e2e2e2;
	border: 1px solid #666;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
    display:block;
}

br {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
}

.clear {
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	clear: both;
	float: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: bolder;
}

h1 { 
	font-size: 2em; 
}
h2 { 
	font-size: 1.8em;
}
h3 { 
	font-size: 1.6em;
}
h4 { 
	font-size: 1.4em;
}
h5 { 
	font-size: 1.25em;
}
h6 { 
	font-size: 1.1em;
}

a:hover {
	text-decoration: none;
}

/* =General table styles
-------------------------------------------------------------- */
table thead,
table tfoot {
	font-weight: bolder;
}

table th {
	font-weight: bolder;
}

table tr {
	vertical-align: top;
}

/* =Container styles
-------------------------------------------------------------- */
.above-header, 
body > header, 
.header-nav, 
.header, 
.below-header, 
.primary-nav, 
.container, 
.footer-nav, 
.above-footer, 
body > footer, 
.below-footer {
	width: 100%;
	margin: 0;
	clear: both;
}

.above-header .widget-area, 
.header-nav .menu, 
body > header hgroup, 
.below-header .widget-area, 
.primary-nav .menu, 
.container .main, 
.footer-nav .menu, 
.above-footer .widget-area, 
body > footer details, 
.below-footer .widget-area {
	width: 100%;
	max-width: 960px;
	display: block;
	margin: 0 auto;
}

body > header, 
body > .container, 
body > footer {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

body > header > hgroup {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 20.83333333333333%;
}

.widget-area h2 {
	font-size: 1.2em;
	margin-bottom: .5em;
}

.container {
	padding-top: 1.666666666666667% /* 16px / 960px */;
}

/* =Above header sidebar
-------------------------------------------------------------- */
.sidebar.above-header li.widget {
	width: 100%;
	clear: both;
}

/* =Header nav styles
-------------------------------------------------------------- */
.header-nav .menu-item {
	display: inline;
}

.header-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: right;
	border-right: 1px solid #666;
}

.header-nav .menu-item:first-child a {
	border: none;
}

/* =Primary nav styles
-------------------------------------------------------------- */
.primary-nav .menu-item {
	display: inline;
}

.primary-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: left;
	border-left: 1px solid #666;
}

.primary-nav .menu-item:first-child a {
	border: none;
	padding-left: 0;
}

/* =Primary nav styles
-------------------------------------------------------------- */
.secondary-nav .menu-item {
	display: inline;
}

.secondary-nav .menu-item a {
	display: block;
	padding: .1em .5em;
	float: left;
	border-left: 1px solid #666;
}

.secondary-nav .menu-item:first-child a {
	border: none;
	padding-left: 0;
}

/* =Main content area
-------------------------------------------------------------- */
.container .main {
	padding: 0;
}

.main .column {
	width: 100%;
}

.content {
	width: 100%;
}

.content li {
	display: list-item;
}

.content ul, .content ol {
	margin-left: 2.5%;
	padding-left: 1.666666666666667%;
}

.content ul > li {
	list-style: disc;
}

.content ul > li ul > li {
	list-style: circle;
}

.content ul > li ul > li ul > li {
	list-style: square;
}

.content ol > li {
	list-style: decimal;
}

/* =WordPress Core
-------------------------------------------------------------- */
.widgettitle a.rsswidget>img {
	float: right;
}

.alignnone {
    margin: 1% 4% 4% 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 1% auto;
}

.alignright {
    float:right;
    margin: 1% 0 4% 4%;
}

.alignleft {
    float:left;
    margin: 1% 4% 4% 0;
}

.aligncenter {
    display: block;
    margin: 1% auto;
}

a img.alignright {
    float:right;
    margin: 1% 0 4% 4%;
}

a img.alignnone {
    margin: 1% 4% 4% 0;
}

a img.alignleft {
    float:left;
    margin: 1% 4% 4% 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 1% .75% 2%;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 1% 4% 4% 0;
}

.wp-caption.alignleft {
    margin: 1% 4% 4% 0;
}

.wp-caption.alignright {
    margin: 1% 0 4% 4%;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 .9% 1%;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
	/* =Main content area
	-------------------------------------------------------------- */
	.container .main {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	/* =Sidebar Areas
	-------------------------------------------------------------- */
	.has-sidebar-primary.has-sidebar-secondary .sidebar.column, 
	.has-nav-sidebar.has-sidebar-secondary .sidebar.column, 
	.has-nav-side-second.has-sidebar-secondary .sidebar.column {
		width: 49.79166666666667%;
		margin: 0 0.1041666666666667%;
		float: left;
	}
}

@media screen and (min-width: 960px) {
	/* =Main content area
	-------------------------------------------------------------- */
	.has-sidebar-primary .main, 
	.has-nav-sidebar .main, 
	.has-nav-side-second .main {
		width: 75% /* 720px / 960px */;
		padding-left: 25% /* 240px / 960px */;
		padding-right: 0;
	}
	
	.has-sidebar-secondary .main {
		width: 79.16666666666667% /* 760px / 960px */;
		padding-right: 20.83333333333333% /* 200px / 960px */; /* RC Width */
		padding-left: 0;
	}
	
	.has-sidebar-primary.has-sidebar-secondary .main, 
	.has-nav-sidebar.has-sidebar-secondary .main, 
	.has-nav-side-second.has-sidebar-secondary .main {
		width: 54.16666666666667% /* 520px / 960px */;
		padding-left: 25% /* 240px / 960px */; /* LC Width */
		padding-right: 20.83333333333333% /* 200px / 960px */; /* RC Width */
	}
	
	.main .column {
		position: relative;
		float: left;
	}
	
	/* =Primary sidebar
	-------------------------------------------------------------- */
	.has-sidebar-primary .primary-sidebar, 
	.has-nav-sidebar .primary-sidebar, 
	.has-nav-side-second .primary-sidebar {
		width: 31.11111111111111% /* 224px / 740px */;
		padding-right: 2.222222222222222% /* 16px / 740px */;
		right: 33.33333333333333% /* 240px / 740px */;
		margin-left: -100% /* 240px / 240px */;
	}
	
	.has-sidebar-secondary .primary-sidebar {
		width: 43.07692307692308% /* 224px / 520px */;
		right: 46.15384615384615% /* 240px / 520px */;
		padding-right: 3.076923076923077% /* 16px / 520px */;
		margin-right: 0;
		margin-left: -100% /* 240px / 240px */;
	}
	
	/* =Secondary sidebar
	-------------------------------------------------------------- */
	.has-sidebar-secondary .secondary-sidebar {
		width: 24.21052631578947% /* 184px / 760px */;
		margin-right: -26.31578947368421% /* 200px / 760px */;
		padding-left: 2.105263157894737% /* 16px / 760px */;
	}
	
	.has-sidebar-primary .secondary-sidebar, 
	.has-nav-sidebar .secondary-sidebar, 
	.has-nav-side-second .secondary-sidebar {
		width: 35.38461538461538% /* 184px / 520px */;
		margin-left: 0;
		margin-right: -38.46153846153846% /* 200px / 520px */;
		padding-left: 3.076923076923077% /* 16px / 520px */;
	}
	
}